header {
    background-color:#003E7E;
    background-image: linear-gradient(to bottom, rgba(255,255,255, 0.3),rgba(255,255,255,0.1)),url(assets/leafsLogo.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 620px;
    display: flex;
    justify-content: center;
    align-items: top;
    .mainHeader {
        display: flex;
        flex-direction: column;
        .musicContainer {
            opacity: 0;
            &:hover {
                opacity: 1;
            }
            .nhl94 {
                width: 100%;
            }
        }
    }
}

button {
    border-style: none;
    width: 40%;
    padding: 10px 65px;
    align-self: center;
    text-transform: uppercase;
    background-color: #003E7E;
    color: #fff;;
    border-radius: 3px;
    font-size: 18px;
    transition: all 1s ease;
    &:hover {
        box-shadow: 3px 7px 14px #fff;
        border: 1px solid #fff;
    }
}
