body {
    font-family: 'arial';
    h1 {
        font-family: "Gloss and Bloom";
        color: #fff;
        font-size: 50px;
        width: 100%;
        padding-top: 20px;
    }
    h2 {
        color: #fff;
    }
}